body {
  background-image: url('http://maxpixel.freegreatpicture.com/static/photo/1x/Zoo-Nature-Bear-Wildlife-Animal-Mammal-Grizzly-47639.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
